# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Output & Temporary Files
output/
temp/
*.mp4
*.mkv
*.avi
*.mov
*.wav
*.mp3
!pipeline/assets/**

# Credentials & Sensitive Secrets
.env
client_secret*.json
token.json
credentials.json
*.key

# Environments & IDEs
node_modules/
**/node_modules/
.venv/
env/
venv/
.idea/
.vscode/
*.log
!upload_history.log
